.post {
  background: #FFF;
  border-radius: 6px;
  border: 1px #d6d6d6 solid;
  padding: 15px;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.post__img {
  display: block;
  min-width: 280px;
  height: 280px;
  margin-right: 15px;
  border: 1px #d6d6d6 solid;
  border-radius: 6px;
}
.post__img .fas {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #d5d5d5;
}
.post__info {
  display: block;
  flex: 1 auto;
}
.post__info h3 {
  color: #4f4f4f;
  margin-bottom: 15px;
}
.post__prev {
  font-size: 1.3rem;
  line-height: normal;
  height: 53%;
  overflow: hidden;
}
.post__info hr {
  border: 1px #d6d6d6 solid;
}
.post__nav {
  display: flex;
  justify-content: space-between;
}
.post__addition {
  color: #6b6b6b;
}