{% extends 'mysite/base_page.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block title %}
  Главная
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% include "./post.html" %} 
  {% endfor %}

  {% if posts.paginator.num_pages != 1 %}
    <nav class="pagination__wrap">
      <ul class="pagination">
        {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">Далее</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Назад</a></li>
        {% endif %}

        <li class="page-item active" aria-current="page">
          <span class="page-link">
            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
          </span>
        </li>

        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Далее</a>
          </li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Далее</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% comment %} <h3>
  <a href="{% url 'post_detail' post.id%}">
    {{ post }}
  </a>
</h3> {% endcomment %}