<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css  %}{% endblock %}
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
  <header>
    <nav class="menu">
      <div class="menu__logo">
        <i class="fas fa-users"></i>
        <h1>memory</h1>
      </div>
      <ul class="menu__list">
        <li>
          <a class="link" href="{% url 'posts_list' %}">Главная</a>
        </li>
        <li>
          <a class="link" href="{% url 'persons_list' %}">Личности</a>
        </li>
        <li>
          <a class="link" href="{% url 'random_post' %}">Случайный пост</a>
        </li>
        
        {% if user.is_authenticated %}
          <li>
            <a class="link" href="{% url 'logout' %}">Выход</a>
          </li>
        {% else %}
          <li>
            <a class="link" href="{% url 'login' %}">Вход</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div class="main-container">
    <main>{% block content %}{% endblock %}</main>
    {% comment %} вдруг будет боковая панелька {% endcomment %}
  </div>

</body>
</html>